.back {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 3px;
    top: 15px;
    left: 15px;
}

.wrap {
    padding: 0px 20px;
    width: 75%;
}

.title {
    font-size: 2.8rem;
    margin-bottom: 0;
    margin-top: 50px;
}

.color {
    color: rgb(253, 184, 196);
}

.subtitle {
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 4px;
}

.memories {
    margin-top: 80px;
}

.memory {
    margin: 40px 120px 40px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.content {
    margin-top: 100px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
}

.content_right {
    margin-top: 150px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.images,
.images_left {
    width: 300px;
    height: 500px;
    position: relative;
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
    position: absolute;
    width: auto;
    height: auto;
    object-fit: cover;
}

.image1 {
    z-index: 0;
    top: 0;
    left: 0;
    max-width: 200px;
    max-height: 200px;
}

.image2 {
    z-index: 3;
    top: 110px;
    left: 80px;
    max-width: 300px;
    max-height: 300px;
}

.image3 {
    z-index: 0;
    top: 300px;
    left: 0;
    max-width: 200px;
    max-height: 200px;
}

.image4 {
    z-index: 0;
    top: 0;
    right: 0px;
    max-width: 200px;
    max-height: 200px;
}

.image5 {
    z-index: 3;
    top: 110px;
    right: 80px;
    max-width: 300px;
    max-height: 300px;
}

.image6 {
    z-index: 0;
    top: 300px;
    right: 0px;
    max-width: 200px;
    max-height: 200px;
}

.content_title {
    font-weight: 500;
    color: rgb(253, 184, 196);
    font-size: 1.8rem;
}

.para {
    color: rgb(40, 40, 40);
    line-height: 1.8rem;
}

@media screen and (max-width: 1200px) {
    .memory {
        margin: 40px 100px 100px 100px;
        grid-template-rows: repeat(auto);
        row-gap: 0px;
    }

    .images,
    .images_left {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0 auto;
    }

    .images_left {
        order: -1;
    }

    .content,
    .content_right {
        margin-top: 50px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media screen and (max-width: 600px) {
    .memory {
        margin: 40px 40px 100px 40px;
    }
}
